body {
    font-family: 'Oleo Script', cursive;
    margin: 0px;
    padding: 0px;
    width: 100%;
	background-size: cover;
	background-image: url("../pics/homebg.jpg");
	background-repeat: no-repeat;
    text-align: center;
}

#abtme {
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
}

section {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0px;
    padding-top: 5px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 5px;
    height: 400px;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 20px;
    text-align: center;
}

.section>#pic {
	border-radius: 10px;
}
footer {
    margin: 0px;
    padding: 0px;
    float: bottom;
    width: 100%;
    height: 30px;
}

.navibar {
    background: white;
    margin: 0px;
    padding: 10px;
    list-style: none;
    position: relative;
    width: 100%;
	height: 40px;
}
.navibar>li {
    display: inline-block;
    color: black;
	font-size: 20px;
}
.navibar>li>a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color:black;
}
.pic {
    float: left;
    width: 20%;
    margin: 0px;
    height: 500px;
    padding: 10px;
}
.pic>img {
    position: relative;
}
.profile {
    position: relative;
    overflow: auto;
    float: right;
    width: 70%;
    margin: 0px;
    height: 500px;
    padding: 10px;
}
.profile>p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}
.profile>ul>li {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    text-align: left;
}